
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
    *{
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
    }
 
    header{
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding: 30px 100px;
       
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .nav-img ,
    .nav-contant
    {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .title{
        font-size: 2.3rem;
        font-weight: 700;
        color: #0f0246;
        text-transform: uppercase;
    }
    .nav-img img{
        width: 50px;
        height: 40px;
        padding-left: 10px;

    }
    .aqua{
        background: linear-gradient(180deg, #0f0246 19%, tomato 81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .tomato{
        color: tomato;
    }
    ul li{
        list-style: none;
        padding: 20px;
        font-weight: 500;
        color: #3C354F;
        cursor:grabbing;
        
    }
    .nav-contant li:hover{
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        padding: 15px 20px;
    }
    .list-icon i{
        padding-left: 10px;
       
    }
    
    .fa-youtube{
        color: red;
    }
    .fa-tiktok{
        color: #0f0246;
       
        
    }
    .btn-primary{
        border-radius: 48px;
        border: none;
        font-size: 0.9rem;
        padding: 15px 40px;
        color: #FFF;
        font-weight: 600;
        background:tomato;
        cursor: pointer;
        margin-top: 10px; 
    }
    .btn-primary2{
        border-radius: 48px;
        border: none;
        font-size: 0.9rem;
        padding: 15px 40px;
        color: #FFF;
        font-weight: 600;
        background:#0f0246;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px; 
    }
    .btn-career{
        border-radius: 48px;
        border: none;
        font-size: 0.9rem;
        padding: 15px 40px;
        color: tomato;
        font-weight: 600;
        background:#fff;
        cursor: pointer;
        margin-left: 10px; 
    }
   .fixd-width{
        width: 1440px;
        margin: 0 auto;    }
    /* banner styles */
    .banner{
        background-color:white;
        display: flex;
        justify-content: space-between;

    }
    .banner-left{
        width: calc(50% - 20px);
        position: relative;
    }
    .banner-left img , .banner-right img{
        width: 100%;
        height: 75vh;
        display: block;
    }
  .banner-right{
    width: calc(50%  - 20px );
  }
    .banner-contant{
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

    }
    .banner-title1{
        font-size: 2.8rem;
        font-weight: 600;
        color: #0B0223;
        text-transform: uppercase;
    }
    .banner-title{
      
        font-size: 4.7rem;
        font-weight: 800;
        background: linear-gradient(180deg, #0f0246  29%, tomato 71%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .banner-discript{
        color: #534C64;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: 10px;
        margin-top: 20px;
    }
  .banner-discript >i{
    padding-right: 10px;
    color: rgb(247, 138, 75);
  }

  /* gamer styles */
  .gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 50px 100px;
  }
  .gamer-container{
    display: flex;
    gap: 20px;
    align-items: center;

  }
  .game-left , .game-right{
    width: 50%;
    text-align: end;
  }
  .game-left img{
    width: 100%;
  }
  .game-title{
    margin-bottom: 15px;
    background: linear-gradient(180deg, #0f0246  24%, tomato 76%);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-size: 2.3rem;
font-weight: 700;
  }
  .game-discript{
    color: #534C64;
text-align: right;
font-size: 1.2rem;
font-weight: 700;

  }

  /* online game styles */
  .online-game , .container{
    padding: 50px 100px;
  }
  .online-container{
    text-align: center;
    margin-bottom: 30px;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}
  .online-title{
    color: #0B0223;
    font-size: 2.6rem;
    font-weight: 700;
  }
    .online-driscript{
        color: #534C64;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
    }
  
    .card-parent{
        position: relative;
        cursor: pointer;
    }
    .card-parent img{
        width: 100%;
    }
    .card-child{

        border-radius: 10px;
        border: 4px solid  #FF42A5;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
        width: 100%;
        height: 98%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    .card-parent:hover .card-child{
        display:block;
    }
    .card-driscript{
        color: #534C64;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
    }
    .fa-regular{
        font-weight: 400;
    }
    .hover-play{
        position: absolute;
        font-size: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;

    }
    .hover-text{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.35rem;
        color: tomato;
    }
    /* play instantly section style*/
    .play-container, .anywhare-container{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        gap: 170px;
        text-align: center;
    }
    .game-contant ,.play-child img  {
        width: 50%;
    }
    .game-text{
        text-align: right;
    }
    .play-parant-contant {
        width: 50%;
        position: relative;
    }
    .play-parant-contant img , .career-contant img{
        width: 100%;
    }
    .play-child{
        position: absolute;
      bottom: -10%;
        left: -15%;
    }
    .play-child1{
        position: absolute;
      bottom: -10%;
        right: -15%;
    }
    .play-title{
        color: #0f0246;
        font-size: 2.3rem;
        font-weight: 700;
    }
    /* career section styles */
    .career{
        margin-top: 60px;
        background: linear-gradient(90deg, rgb(240, 154, 139) 13.54%,  tomato 39.46%);
        padding-left: 100px;
    }
    .career-title{
        color: #FFF;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .career-descript{
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
    }
    .flex-ul ul li{
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .flex-ul{
        display: flex;
        justify-content: space-between;
        
    }
    .career-container{
        display: flex;
        align-items: center;
    }
    .career-contant {
        width: 50%;
    }
  
  
    @media screen and (max-width:576px) {
        nav{
            background-color: #fff;
            box-shadow: none;
            text-align: center;
            width: 100%;
            padding: 0;
            margin-right: 0;
        }
        .fixd-width {
            width: 100%;
            margin: 0 auto;

        }
        /* .career{
            width: 100%;
            margin:  auto;
        } */
        nav , .nav-contant ,.play-container , .career-container{
           
            flex-direction: column;
        }
        .anywhare-container{
            flex-direction: column-reverse;
        }
        .nav-img , .nav-contant{
            margin: 0;
        }
        .nav-img{
            margin-bottom: 20px;
        }
        .banner{
            flex-direction: column-reverse;
        }
        .banner-left , .banner-right{
        width: 100%;
        }
        .banner-contant{
            text-align: start;
                width: 200px;
        }
        .banner-title1{
            font-size: 2rem;
         
        }
        .banner-title{
            font-size: 3rem;
            margin-bottom: 10px;
        }
        .banner-discript{
            font-size: 0.7rem;
            margin-top: 0;
        }
        .btn-primary,.btn-primary2{
            padding: 10px 20px;
            font-size: 10px;
        }
        /* gamer section styles */
        .gamer, .container{
            padding: 30px;
        }
        .gamer-container{
            flex-direction: column;
        }
        .game-left , .game-right ,.game-contant{
            width: 100%;
            text-align: center;
          }
          .play-parant-contant {
            width: 50%;
          }
          .game-discript{
            font-size: 1rem;
            text-align: center;
          }
          .card-container{
            grid-template-columns: repeat(1 , 1fr);
          }
          .online-game{
            padding: 30px;
          }
          .online-title{

            font-size: 2.4rem;
           
          }
          .play-title{
            font-size: 2rem;
        }
        .play-parant-contant img {
            width: 100%;
        }
        .play-child img ,.play-child1 img{
            width: 50%;
        }
        .play-child{
            position: absolute;
            bottom: -20%;
            left: -40%;
        }
        .play-child1{
            position: absolute;
            bottom: -10%;
            right: -40%;
        }
        .play-title{
            text-align: center;
        }
        .career{
            width: 100%;
            padding: 50px;
           
        }
        .career-contant ,.career-img{
            width: 100%;
        }
        .career-img img{
            width: 100%;
        }
        .career-img{
            margin-top: 20px;
        }
        .career-title{
            font-size: 2rem;
        }
        .career-descript{
            font-size: 0.9rem;
        }
    }
    @media screen and (min-width:576px) and (max-width:992px) {
        .fixd-width, header {
            width: 100%;
        }
        .banner , .nav-contant,.gamer-container,.play-container{
            flex-direction: column;
            
        }
        .anywhare-container{
            flex-direction: column-reverse;
        }
        .banner-left, .banner-right  {
            width: 100%;
        }
        .banner-left img, .banner-right img{
            height: 100vh;

        }
        .game-left , .game-right{
            width: 100%;
            text-align: center;
          }
          .game-discript{
            font-size: 1.26rem;
            text-align: center;
          }
          .card-container{
            grid-template-columns: repeat(2, 1fr);
          }
          .online-game{
            padding: 10px;
          }
          .online-title{
             font-size: 2.4rem; 
          }
          .play-parant-contant img {
            width: 100%;
         }
            .play-child img , .play-child1 img{
            width: 50%;
            }
            .play-child{
            position: absolute;
            bottom: -10%;
            left: -15%;
        }
             .play-child1{
            position: absolute;
            bottom: -10%;
            right: -15%;
        }
        .play-container , .anywhare-container{
            gap: 60px;
        }
        .game-contant, .play-parant-contant, .anywhare-contant{
            width: 100%;
            
        }
        .play-title{
            text-align: center;
        }
        .career{
            width: 100%;
            padding: 50px;
        }
        .career-container{
            flex-direction: column;
        }
        .career{
            width: 100%;
            padding: 50px;
           
        }
        .career-contant ,.career-img{
            width: 100%;
        }
        .career-img img{
            width: 100%;
        }
        .career-img{
            margin-top: 20px;
        }
        .career-title{
            font-size: 2rem;
        }
    }